<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
    </section>
    <section>
    	Email : <b> <%= @user.email %> </b> 
    	
    </section>
    <section class="calendar">
    
    <h2 id="month">
    	<%= link_to "<", date: @date.prev_month %>
    	<%=h @date.strftime("%B %Y") %>
    	<%= link_to ">", date: @date.next_month %>
    </h2>
    
    <%= calendar(@date) do |date|%>
    
    <%= date.day %>
    
      <% if @holidays_by_date[date] %>
      <ul class="calendar">
        <% @holidays_by_date[date].each do |article| %>
          <b><li class="calendar">
          	<% if article.creator == current_user.name %>
          		<%= link_to article.name, article , {:style => "color:purple"} %>   </li></b>
          		  <% end %>
        <% end %>
      </ul>
        <% end %> 
    
      <% if @events_by_date[date] %>
      <ul class="calendar">
        <% @events_by_date[date].each do |article| %>
        <% if article.creator == current_user.name%>
        	  <b><li class="calendar"><%= link_to article.name, article, {:style => "color:red"} %></li></b>
        	   <% end %>
        <% end %>
      </ul>
        <% end %>   
     <% end %>
    </section>
    
     <section>
     <%= link_to "Create an Event now! ", '/create', class: "btn btn-large btn-primary" %>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= link_to "Add Holiday! ", '/holidays/new', class: "btn btn-large btn-primary" %>
      </section>	
  </aside>
  
</div>